{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    {% if heading %}
        <h3>Crear Grupo </h3>
    {% endif %}
{% endblock %}

{% block content %}

<!-- MENSAJES  -->
{% include "messages.html" %}
<style>
body{
    background-color: rgba(255, 255, 255);
}
</style>

<h1 style="text-align: left; color: rgb(0, 0, 0); font-family: Consolas, monaco, monospace; font-size: 50px;"> 
    Crear Grupo
</h1>
<p style="font-family: Consolas, monaco, monospace;
font-size: 20px;">Herramienta de creación de grupos. Para crear un grupo debe introducir su nombre.</p>
    
    <form action="" method="POST" class="form-group" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Crear Grupo</button>
    </form>
{% endblock %}