{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Crear Equipo
{% endblock %}

{% block content %}
<div class="row" >
    <div class="offset-xl-4 col-xl-4 offset-md-2 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h1>Agregar equipo</h1>
            </div>

            <div class="card-body">
                <form id="add-cat" action="" method="POST" class="form-group needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-col"> 
                            <label>Selecciona una categoría:</label>
                            <p></p>
                            {% render_field form.category class="custom-select required" %}
                            <div class="invalid-feedback">Requerido</div>
                        </div>
                    </div>
                </form>    
            </div>

            <div class="card-footer">
                    <button type="submit" form="add-cat" class="btn btn-success">Continuar</button>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
