{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    {% if heading %}
        {{heading}}
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-md-3 col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 style="text-align: left;
                    color: rgb(0, 0, 0);
                    font-family: Consolas, monaco, monospace;
                    font-size: 50px;"> Cargar Préstamos</h1>
                <p style="font-family: Consolas, monaco, monospace;
                    font-size: 20px;">Herramienta registrar préstamos de equipo.</p>
            </div>

            <div class="card-body">
                <form class="form-horizontal needs-validation" id="create-form" method="POST" action="" novalidate>
                    {% csrf_token %}
                    <div class="form-group required">
                        <label class="control-label">{{form.equipment.label}}</label>
                        {% render_field form.equipment class="form-control col-md-6" %}
                        <small class="form-text text-muted">
                            Equipo que está siendo prestado
                        </small>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label">{{form.user.label}}</label>
                        {% render_field form.user class="form-control col-md-6" %}
                        <small class="form-text text-muted">
                            Usuario que recibe el equipo.
                        </small>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label">{{form.hand_over_date.label}}</label>
                        {% render_field form.hand_over_date class="form-control col-md-6" placeholder="mm/dd/yyyy" %}
                        <small class="form-text text-muted">
                            Fecha de entrega del equipo.
                        </small>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                    <button type="submit" class="btn btn-success">Cargar Préstamo</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock  %}