{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Solicitud
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-xl-4 col-xl-4 offset-md-2 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h1>Solicitar equipo</h1>
                <p>Herramienta de solicitud de equipo. Puede especificar que tipo de 
                    equipo desea solicitar (categoría) o qué equipo en específico desea solicitar.</p>
            </div>

            <div class="card-body">
                <form class="form-horizontal form-group" id="create-form" method="POST" action="">
                    {% csrf_token %}
                    {{ catformset.management_form }}
                    {% for form in catformset %}
                    <div class="cat-form-col">
                        <div class="form-row mb-20"> 
                            <div class="form-group col">
                                <label class="control-label">{{form.category.label}}</label>
                                <select multiple class="form-control">
                                    {% for cat in form.category %}
                                        <option>{{cat}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col">
                                <label class="control-label">{{form.quantity.label}}</label>
                                {% render_field form.quantity class="form-control" min=1 %}
                                <small class="form-text text-muted">
                                    Ingrese una cantidad mayor a 0
                                </small>
                            </div>
                        </div>
                        <div class="input-group-append mb-20">
                            <button class="btn btn-success add-cat">Añadir otra categoría</button>
                        </div>
                        <p></p>
                    </div>
                    {% endfor %}
                    {{ eqformset.management_form }}
                    {% for form in eqformset %}
                    <div class="eq-form-col">
                        <div class="form-row mb-20"> 
                            <div class="col">
                                <label class="control-label">{{form.equipment.label}}</label>
                                {% render_field form.equipment class="form-control" %}
                            </div>
                        </div>
                        <div class="input-group-append mb-20">
                            <button class="btn btn-success add-eq">Añadir otro equipo</button>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-row mb-20">
                        <div class="col">
                            <label>Comentarios</label>
                            {% render_field comments.comments class="form-control" %}
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal">Enviar solicitud</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmModal">Confirmación: Realizar solicitud.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Al hacer click en aceptar, se enviará la solicitud de equipo a Cuarto de Equipo.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="create-form" value="Submit">Aceptar</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}