{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Cuarto de equipo
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-xl-4 col-xl-4 offset-md-2 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h1>Solicitar equipo</h1>
                <p>Herramienta de solicitud de equipo.</p>
                <p>     
                    Especifique qué categorías de equipo desea solicitar.
                    Cualquier comentario o especificación debe ser escrita debajo.
                </p>
            </div>

            <div class="card-body">
                <form class="form-horizontal form-group needs-validation" id="request-form" method="POST" action="" novalidate>
                    {% csrf_token %}
                    <div class="form-group col category_form"> 
                        <div class="form-group cat_form col">
                            <div class="form-group col required">
                                <label class="control-label">Categoría</label>
                                <select name="cat_value" class="form-control" required>
                                    <option disabled selected value>-----</option>
                                    {% for cat in categories %}
                                        <option value="{{cat}}">{{cat.name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="valid-feedback">Correcto</div>
                                <div class="invalid-feedback">Incorrecto</div>
                            </div>
                            <div class="form-group col required">
                                <label class="control-label">Cantidad: </label>
                                <input class="form-control" name="cat_q" type="number" min="1" required>
                                <div class="valid-feedback">Correcto</div>
                                <div class="invalid-feedback">Incorrecto</div>
                                <small class="form-text text-muted">
                                    Ingrese una cantidad mayor a 0
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-20">
                        <div class="col">
                            <label>Especificaciones</label>
                            <textarea name="comments" class="form-control" placeholder="Comentarios" rows="8"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary add_form">Añadir otra categoría</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal">Enviar solicitud</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmModal">Confirmación: Realizar solicitud.</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Al hacer click en aceptar, se enviará la solicitud de equipo a Cuarto de Equipo.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="request-form" value="Submit">Aceptar</button>
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function cloneMore(selector) {
        console.log("entro "+selector)
        $('.category_form').append(`
            <div class="form-group cat_form col">
                <div class="form-group col required">
                    <label class="control-label">Categoría</label>
                    <select name="cat_value" class="form-control" required>
                        <option disabled selected value>-----</option>
                        {% for cat in categories %}
                            <option value="{{cat}}">{{cat.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Incorrecto</div>
                </div>
                <div class="form-group col required">
                    <label class="control-label">Cantidad: </label>
                    <input class="form-control" name="cat_q" type="number" min="1" required>
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Incorrecto</div>
                    <small class="form-text text-muted">
                        Ingrese una cantidad mayor a 0
                    </small>
                </div>
                <button type="button" class="btn btn-danger remove_form">Eliminar</button>
            </div>`
        );
    
        return false;
    }

    function deleteFormCat(btn) {
        btn.closest('.cat_form').remove();
        return false;
    }

    $(document).on('click', '.add_form', function (e) {
        e.preventDefault();
        cloneMore('.cat_form:last');
        return false;
    });

    $(document).on('click', '.remove_form', function (e) {
        e.preventDefault();
        deleteFormCat($(this));
        return false;
    });
</script>

{% endblock %}