{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Cargar Prestamo
{% endblock %}

{% block content %}

<div class="row">
    <div class="offset-xl-4 col-xl-4 offset-md-2 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h1> Cargar Préstamos</h1>
                <p>Herramienta registrar préstamos de equipo.</p>
            </div>

            <div class="card-body">
                <h4 class="text-center">Equipo a prestar:</h4> 
                <h3 class="text-center">{{eq}}</h3>   
                <form class="form-horizontal needs-validation form-group" id="create-form" method="POST" action="" novalidate>
                    {% csrf_token %}
                    <div class="form-group required mb-20">
                        <label class="control-label">Usuario</label>
                        {% render_field form.user class="form-control" %}
                        <small class="form-text text-muted">
                            Usuario que recibe el equipo.
                        </small>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                    <div class="form-group required mb-20">
                        <label class="control-label">Fecha de recepción</label>
                        {% render_field form.hand_over_date type="date" class="form-control" placeholder="mm/dd/yyyy" %}
                        <small class="form-text text-muted">
                            Fecha en la que el equipo es recibido por el Oikeano.
                        </small>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                    <button type="submit" class="btn btn-success">Cargar Préstamo</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock  %}
