{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Crear Grupo
{% endblock %}

{% block content %}
<div class="row" >
    <div class="offset-xl-4 col-xl-4 offset-md-2 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h1>Crear Grupo</h1>
                <p>Herramienta de creación de grupos. Para crear un grupo debe introducir su nombre.</p>
            </div>

            <div class="card-body">  
                <form id="add-g" action="" method="POST" class="form-group needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group required">
                        <label class="control-label">Ingresa el nombre del grupo</label>
                        {% render_field form.name class="form-control" %}
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <button type="submit" form="add-g" class="btn btn-success">Continuar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}