{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    {% if heading %}
        <h3>Crear Grupo </h3>
    {% endif %}
{% endblock %}

{% block content %}

<!-- MENSAJES  -->
{% include "messages.html" %}
<style>
body{
    background-color: rgba(255, 255, 255);
}
</style>

<h1 style="text-align: left; color: rgb(0, 0, 0); font-family: Consolas, monaco, monospace; font-size: 50px;"> 
    Crear Grupo
</h1>
<p style="font-family: Consolas, monaco, monospace;
font-size: 20px;">Herramienta de creación de grupos. Para crear un grupo debe introducir su nombre.</p>
<div class="container-fluid">
    <div class="row" >
        <div class="offset-md-4 col-md-4 card">
            <p></p>
            <form action="" method="POST" class="form-group needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group required">
                    <div class="form-col"> 
                        <label class="control-label">Ingresa el nombre del grupo</label>
                        <p></p>
                        {% render_field form.name class="form-control" %}
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Ingresar</button>
                <p></p>
            </form>
        </div>
    </div>
</div>    
{% endblock %}