{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Equipos Disponibles
{% endblock %}

{% block content %}

    <div class="row" >
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Equipos</h3>
                </div>

                <div class="card-body" style="overflow-x: scroll">
                    <table class="table table-hover w-full" id="table">
                        <caption>Tabla para Equipos</caption>
                        <thead style="color:black;" >
                            <th scope="col">Nombre</th>
                            <th scope="col">Serial</th>
                            <th scope="col">Fecha de Ingreso</th>
                            <th scope="col">Fecha de Elaboracion</th>
                            <th scope="col">Descontinuado</th>
                            <th scope="col">Fecha de Descontinuado</th>
                            <th scope="col">Notas</th>
                            <th scope="col">Categoria</th>
                            {% for att in attributes %}
                                <th scope="col">{{att.name}}</th>
                            {% endfor %}
                            <th scope="col">Solicitar</th>
                        </thead>
                        <tbody>
                            {% for t in values %}
                            <tr>
                                {% for val in t %}
                                <td>{{val}}</td>
                                {% endfor %}
                                <td class="text-center">
                                    <a href="#" class="btn btn-primary">
                                        <i class="fas fa-hand-point-up"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>         
                </div>
            </div>
        </div>
    </div>
    
    <a class="btn btn-success" href="{% url 'Inventory:select-cat' %}">Volver a la Busqueda</a>
{% endblock  %}

{% block custom_js %}
<script>
  $('#table').DataTable({
        "order" : [[0,"desc"]],
        "language": {
        "search": "Buscar:",
        "emptyTable":     "No hay entradas para esta tabla",
        "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
        "infoEmpty":      "Mostrando 0 de 0 entradas",
        "lengthMenu":     "Mostrar _MENU_ entradas",
        "paginate": {
          "first":      "Primera",
          "last":       "Ultima",
          "next":       "Siguiente",
          "previous":   "Anterior"
        },
      }
    });
</script>
{% endblock  %}