{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Equipo Disponible
{% endblock %}

{% block content %}

    <div class="row" >
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Categoría: {{name}}</h3>
                </div>

                <div class="card-body" style="overflow-x: scroll">
                    <table class="table table-hover w-full" id="table">
                        <caption>Tabla para Equipos</caption>
                        <thead style="color:black;" >
                            <th scope="col" class="text-center">Serial</th>
                            <th scope="col" class="text-center">Nombre</th>
                            {% for att in attributes %}
                                <th scope="col" class="text-center">{{att.name}}</th>
                            {% endfor %}
                            <th scope="col" class="text-center">Información Adicional</th>
                            <th scope="col" class="text-center">Disponibilidad</th>
                        </thead>
                        <tbody>
                            {% for r in rows %}
                            <tr> 
                                {% for val in r.vals %}
                                    {% if val != None %}
                                        <td class="text-center">{{val}}</td>
                                    {% else %}
                                        <td class="text-center"> </td>
                                    {% endif %}
                                {% endfor %}
                                <div class="modal fade" id="info{{forloop.counter}}" tabindex="-1">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="Title">{{r.name}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body ">
                                                <div class="card">
                                                    <p class="text-center">Aqui deberia haber una foto jejeps</p>
                                                    <ul class="list-group list-group-flush">
                                                        {% for d in r.info %}
                                                            {% if d.value != None %}
                                                                <li class="list-group-item">
                                                                    {{d.name}}: {{d.value}}
                                                                </li>
                                                            {% else %}
                                                                <li class="list-group-item">
                                                                    {{d.name}}: Desconocido
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for group in r.groups %}
                                                            <li class="list-group-item">
                                                                Grupo: {{group.name}}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <td class="text-center">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#info{{forloop.counter}}">
                                        Ver
                                    </button>
                                </td>
                                {% if r.av == "Disponible" %}
                                    <td class="text-center text-success" style="font-weight:bold">Disponible</td>
                                {% elif r.av == "Prestado" %}
                                    <td class="text-center text-secondary" style="font-weight:bold">Prestado</td>
                                {% else %}
                                    <td class="text-center text-danger" style="font-weight:bold">Descontinuado</td>                                      
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>         
                </div>
            </div>
        </div>
    </div>
    <br/>
    <a class="btn btn-success" href="{% url 'Inventory:select-cat' %}">Seleccionar otra Categoría</a>
{% endblock  %}

{% block custom_js %}
<script>
  $('#table').DataTable({
        "order" : [[0,"desc"]],
        "language": {
        "search": "Buscar:",
        "emptyTable":     "No hay entradas para esta tabla",
        "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
        "infoEmpty":      "Mostrando 0 de 0 entradas",
        "lengthMenu":     "Mostrar _MENU_ entradas",
        "paginate": {
          "first":      "Primera",
          "last":       "Ultima",
          "next":       "Siguiente",
          "previous":   "Anterior"
        },
      }
    });
</script>
{% endblock  %}