{% extends "base.html" %}
{% load tags %}

{% block page-title %}
Bienvenido al Sistema de Prestamo del GEO 
{% endblock  %}

{% block content %}
<div class="row mb-20">
  <!-- INFORMACION PERSONAL -->
  <div class="col-md-6 col-sm-12 mb-20">
    <div class="card text-center">
      <div class="card-header">
        <h3>Informacion Personal</h3>
      </div>
      <div class="form-group"> 
        <div class="card-body">
          <h5 class="card-title">Nombre de Usuario: {{request.user.username}}</h5>
          <p class="card-text">Email: {{request.user.email}}</p>
          <p class="card-text">Nombre: 
            {% if request.user.first_name %}
              {{request.user.first_name}}
            {% else %}
              <span class="text-danger">No Completado!</span>
            {% endif %}</p>
          <p class="card-text">Apellido: 
            {% if request.user.last_name %}
              {{request.user.last_name}}
            {% else %}
              <span class="text-danger">No Completado!</span>
            {% endif %}
          </p>
        </div>
        <p class="card-text">Estado en el sistema: {{grupo|clean}}</p>
        <p class="card-text">Estado en la agrupación: {{request.user.status|get_status}}</p>
        <a href="{% url 'Users:modify_user' user.pk %}" class="btn btn-primary">Modificar Usuario</a>
      </div>
    </div>
  </div>
  <!-- FOTO DE PERFIL -->
  <div class="col-md-6 col-sm-12 mb-20">
    <img alt="" style="border-width: 5px !important;" 
    class="img-fluid mx-auto d-block border border-dark rounded-circle " 
    src="{{ request.user.pic.url }}">
  </div>
</div>

<div class="row">
  <!-- HISTORIAL DE SOLICITUDES-->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h3>Resumen de Solicitudes</h3>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover w-full tabledat" id="solicitudes-table">
          <caption>Tabla de resumen de solicitudes</caption>
          <thead>
            <tr>
              <th class="text-center" scope="col">Id</th>
              <th class="text-center" scope="col">Fecha</th>
              <th class="text-center" scope="col">Detalles</th>
              <th class="text-center" scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for t in solicitudes %}
            <tr>
              <td class="text-center">{{t.pk}}</td>
              <td class="text-center">{{t.date}}</td>
              <td class="text-center"><a href="{% url 'Inventory:show_request' t.pk %}" class="btn btn-info">Ver detalles</a></td>
              {% if t.user2 == None %}
              <td class="text-center text-secondary" style="font-weight:bold">Sin responder</td>
              {% elif t.status %}
              <td class="text-center text-success" style="font-weight:bold">Aprobado por {{ t.user2 }}</td>
              {% else %}
              <td class="text-center text-danger" style="font-weight:bold">Rechazado por {{ t.user2 }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- HISTORIAL DE PRESTAMOS -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h3>Resumen de Prestamos</h3>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover w-full tabledat" id="prestamos-table">
          <caption>Tabla de resumen de prestamos</caption>
          <thead>
            <tr>
              <th class="text-center" scope="col">Id</th>
              <th class="text-center" scope="col">Equipo</th>
              <th class="text-center" scope="col">Fecha de recepción</th>
              <th class="text-center" scope="col">Fecha de entrega</th>
              <th class="text-center" scope="col">Fecha de devolución</th>
              <th class="text-center" scope="col">Detalles</th>
            </tr>
          </thead>
          <tbody>
            {% for t in prestamos %}
            <tr>
              <td class="text-center">{{t.pk}}</td>
              <td class="text-center">{{t.equipment.name}}</td>
              <td class="text-center">{{t.hand_over_date}}</td>
              {% if t.deadline is None %}
              <td class="text-center"><span class="text-primary" style="font-weight:bold">No se ha asignado una fecha de entrega</span></td>
              {% else %}
              <td class="text-center">{{t.deadline}}</td>
              {% endif %}
              {% if t.delivery_date is None %}
              <td class="text-center"><span class="text-success" style="font-weight:bold">Prestamo activo</span></td>
              {% else %}
              <td class="text-center">{{t.delivery_date}}</td>
              {% endif %}
              <div class="modal fade" id="info{{forloop.counter}}" tabindex="-1">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="Title">Prestamo {{t.pk}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body ">
                              <div class="card">
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item text-center">
                                        <span style="font-weight:bold">Recibe: {{t.user}}</span>
                                      </li>
                                      <li class="list-group-item text-center">
                                          <span style="font-weight:bold">Entrega: {{t.creator}}</span>
                                      </li>
                                      <li class="list-group-item text-center">
                                          <span style="font-weight:bold"> Equipo: {{t.equipment.name}}</span>
                                      </li>
                                      {% if t.delivery_date is not None %}
                                        <li class="list-group-item text-center">
                                            <span style="font-weight:bold">Puntuación: {{t.score}}/5</span>
                                        </li>
                                        {% if t.notes %}
                                        <li class="list-group-item text-center">
                                            <label>Notas:</label>
                                              {{t.notes}}
                                        </li>
                                        {% endif %}
                                      {% endif %}
                                  </ul>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Volver</button>
                          </div>
                      </div>
                  </div>
              </div>
              <td class="text-center">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#info{{forloop.counter}}">
                      Ver
                  </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- DEUDAS --> 
  <div class="col-md-12 mb-20">
    <div class="card text-center">
      <div class="card-header">
        <h4>Deudas</h4>
      </div>
        <div class="card-body">
        <h5 class="card-text" style="font-weight:bold">Deuda Total: {{deuda}}</h5>
        <table class="table table-hover w-full tabledat" id="tr-table">
            <caption>Tabla de resumen de transacciones</caption>
            <thead>
              <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="text-center" scope="col">Valor</th>
                <th class="text-center" scope="col">Tipo</th>
                <th class="text-center" scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              {% for t in trans %}
              <tr>
                <td class="text-center">{{t.pk}}</td>
                <td class="text-center">{[t.transaction}}</td>
                <td class="text-center">{{t.reason|getReason}}</td>
                <td class="text-center">{{t.date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block custom_js %}
<script>
  $('#solicitudes-table').DataTable({
			"order" : [[1,"desc"]],
      "language": {
        "search": "Buscar:",
        "emptyTable":     "No hay entradas para esta tabla",
        "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
        "infoEmpty":      "Mostrando 0 de 0 entradas",
        "lengthMenu":     "Mostrar _MENU_ entradas",
        "paginate": {
          "first":      "Primera",
          "last":       "Ultima",
          "next":       "Siguiente",
          "previous":   "Anterior"
        },
      }
		});
</script>
<script>
    $('#prestamos-table').DataTable({
        "order" : [[0,"desc"]],
        "language": {
          "search": "Buscar:",
          "emptyTable":     "No hay entradas para esta tabla",
          "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
          "infoEmpty":      "Mostrando 0 de 0 entradas",
          "lengthMenu":     "Mostrar _MENU_ entradas",
          "paginate": {
            "first":      "Primera",
            "last":       "Ultima",
            "next":       "Siguiente",
            "previous":   "Anterior"
          },
        }
      });
  </script>
  <script>
    $('#tr-table').DataTable({
        "order" : [[0,"desc"]],
        "language": {
          "search": "Buscar:",
          "emptyTable":     "No hay entradas para esta tabla",
          "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
          "infoEmpty":      "Mostrando 0 de 0 entradas",
          "lengthMenu":     "Mostrar _MENU_ entradas",
          "paginate": {
            "first":      "Primera",
            "last":       "Ultima",
            "next":       "Siguiente",
            "previous":   "Anterior"
          },
        }
      });
  </script>
{% endblock  %}