{% extends "base.html" %}
{% load tags %}

{% block page-title %}
Gestion de Usuarios
{% endblock  %}

{% block content %}
<div class="row mb-20">
  <div class="offset-md-8 col-md-4">
    <div class="card text-center">
      <div class="card-header">
        <h4>Añadir Usuario</h4>
      </div>
      <div class="card-body">
        <a href="{% url 'Users:create_user' %}" class="btn btn-success"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h3>Gestion de Usuarios</h3>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover w-full" id="table">
          <caption>Tabla para manejo de gestion de usuarios</caption>
          <thead>
            <tr>
              <th class="text-center" scope="col">Id</th>
              <th class="text-center" scope="col">Username</th>
              <th class="text-center" scope="col">Email</th>
              <th class="text-center" scope="col">Nombre</th>
              <th class="text-center" scope="col">Modificar</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <td class="text-center">{{user.pk}}</td>
              <td class="text-center">{{user.username}}</td>
              <td class="text-center">{{user.email}} </td>
              <td class="text-center">{{user.first_name}}</td>
              <td class="text-center"><a href="{% url 'Users:modify_user' user.pk %}" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL ELIMINAR -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="ModalEliminar" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que quiere eliminarlo?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'Users:delete_user' %}" method="POST" class="form-group">
        {% csrf_token %}
        <input type="hidden" name="user" id="delete-user" value="">
        <div class="modal-body">
          <p>¿Desea eliminar el usuario?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Eliminarlo</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock  %}

{% block custom_js %}
<script>
  let main = () => {
    $('#table').DataTable({
			"order" : [[0,"desc"]],
      "language": {
        "search": "Buscar:",
        "emptyTable":     "No hay entradas para esta tabla",
        "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
        "infoEmpty":      "Mostrando 0 de 0 entradas",
        "lengthMenu":     "Mostrar _MENU_ entradas",
        "paginate": {
          "first":      "Primera",
          "last":       "Ultima",
          "next":       "Siguiente",
          "previous":   "Anterior"
        },
      }
		});
    // Para eliminar un producto
    $('.delete-user').on('click', function(){
      let pk = $(this).attr('data-pk');
      $('#delete-user').val(pk)
    });
  }

  $(document).ready(main())
</script>
{% endblock %}