{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    {% if heading %}
        <h3>{{heading}}</h3>
    {% endif %}
{% endblock %}

{% block content %}

<h1 style="text-align: left;
    color: rgb(0, 0, 0);
    font-family: Consolas, monaco, monospace;
    font-size: 50px;"> Búsqueda</h1>
<p style="font-family: Consolas, monaco, monospace;
    font-size: 20px;">Herramienta para cargar pagos y deudas de los miembros.</p>

<form class="form-horizontal needs-validation" id="create-form" method="POST" action="" novalidate>
    {% csrf_token %}
    <div class="form-group required">
        <label class="control-label">{{form.category.label}}</label>
        {% render_field form.category class="form-control col-md-6" %}
        <div class="valid-feedback">Correcto</div>
        <div class="invalid-feedback">Requerido</div>
    </div>
    <button type="submit" class="btn btn-success">Buscar</button>
</form>

{% endblock  %}