{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    Buscar Equipo
{% endblock %}

{% block content %}
<div class="row" >
    <div class="offset-xl-4 col-xl-4 offset-md-2 col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h1>Búsqueda</h1>
                <p>Herramienta para cargar pagos y deudas de los miembros.</p>
            </div>

            <div class="card-body">
                <form id="search-equip" action="" method="POST" class="form-group needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group required">
                        <label class="control-label">{{form.category.label}}</label>
                        {% render_field form.category class="form-control" %}
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Requerido</div>
                    </div>
                </form>    
            </div>

            <div class="card-footer">
                <button type="submit" form="search-equip" class="btn btn-success">Buscar</button>
            </div>
        </div>
    </div>
</div>


{% endblock  %}