{% extends "base.html" %}
{% load widget_tweaks %}

{% block page-title %}
    {% if heading %}
        <h3>{{heading}}</h3>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Tabla</h3>
            </div>

            <div class="card-body">
                <table class="table table-hover w-full" id="table">
                    <caption>Tabla</caption>
                    <thead>
                        <th scope="col">Nombre</th>
                        <th scope="col">Serial</th>
                        <th scope="col">Fecha de Ingreso</th>
                        <th scope="col">Fecha de Elaboracion</th>
                        <th scope="col">Descontinuado</th>
                        <th scope="col">Fecha de Descontinuado</th>
                        <th scope="col">Notas</th>
                        <th scope="col">Categoria</th>
                    </thead>
                    <tbody>
                        {% for t in table %}
                        <tr>
                            <td>{{t.name}}</td>
                            <td>{{t.serial}}</td>
                            <td>{{t.entry_date}}</td>
                            <td>{{t.discontinued}}</td>
                            <td>{{t.discontinued_date}}</td>
                            <td>{{t.elaboration_date}}</td>
                            <td>{{t.notes}}</td>
                            <td>{{t.category}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <a class="btn btn-success" href="{% url 'Inventory:select-cat' %}">Volver a la Busqueda</a>
    <a class="btn btn-success" href="{% url 'oikos:home' %}">Volver al home</a>
</div>
{% endblock  %}

{% block custom_js %}
<script>
  $('#table').DataTable({
			"order" : [[0,"desc"]]
		});
</script>
{% endblock  %}