{% extends "base.html" %}
{% load tags %}

{% block page-title %}
Tesorero
{% endblock  %}

{% block content %}
<div class="row mb-20">
  <!-- CARGAR TRANSACCION -->
  <div class="col-md-6 col-sm-12 mb-20">
    <div class="card text-center">
      <div class="card-header">
        <h3>Cargar Transaccion</h3>
      </div>
      <div class="card-body">
        <a href="{% url 'Inventory:load_transaction' %}" class="btn btn-success"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
  
  <!-- PAGOS -->
  <div class="col-md-6 col-sm-12 mb-20">
    <div class="card text-center">
      <div class="card-header">
        <h3>Pagos</h3>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover w-full tabledat">
          <caption>Para manejo de pagos efectuados por los usuarios</caption>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">Deuda</th>
              <th scope="col">Modificar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for t in pagos %}
            <tr>
              <td>{{t.user.pk}}</td>
              <td>{{t.user.username}}</td>
              <td>{{t.transaction}}</td>
              <td><a href="" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></td>
              <td>
                <div data-toggle="modal" data-target="#" data-pk="{{t.user.pk}}" 
                  class="btn btn-danger delete-user">
                  <i class="fas fa-times"></i>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

 </div> 
<div class="row mb-20">
    

  <!-- DEUDAS TRIMISTRALES -->
  <div class="col-md-6 col-sm-12 mb-20">
    <div class="card text-center">
      <div class="card-header">
        <h3>Deudas Trimestrales</h3>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover w-full tabledat">
          <caption>Para manejo de deudas trimestrales</caption>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">Deuda</th>
              <th scope="col">Modificar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
          {% for t in trimestral %}
            <tr>
              <td>{{t.user.pk}}</td>
              <td>{{t.user.username}}</td>
              <td>{{t.transaction}}</td>
              <td><a href="" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></td>
              <td>
                <div data-toggle="modal" data-target="#" data-pk="{{t.user.pk}}" 
                  class="btn btn-danger delete-user">
                  <i class="fas fa-times"></i>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card-footer">
          <form id="load-all-trim" method="POST" action="tesorero/load-all-trim">
            {% csrf_token %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
              Aumento masivo
            </button>
          </form>
        </div>
    </div>
  </div>

  <!-- DEUDAS MULTA -->
  <div class="col-md-6 col-sm-12 mb-20">
    <div class="card text-center">
      <div class="card-header">
        <h3>Deudas de Multas</h3>
      </div>
      <div class="card-body" style="overflow-x: scroll">
        <table class="table table-hover w-full tabledat">
          <caption>Para manejo de deudas de multas</caption>
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">Deuda</th>
              <th scope="col">Modificar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for t in multas %}
            <tr>
              <td>{{t.user.pk}}</td>
              <td>{{t.user.username}}</td>
              <td>{{t.transaction}}</td>
              <td><a href="" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></td>
              <td>
                <div data-toggle="modal" data-target="#" data-pk="{{t.user.pk}}" 
                  class="btn btn-danger delete-user">
                  <i class="fas fa-times"></i>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="confirmModal">Confirmación: ¿Seguro que desea cargar trimetralidad a todos los miembros activos?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          Al hacer click en aceptar, se le cargará una deuda de trimestralidad a todos los miembros activos en el sistema.
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" form="load-all-trim" value="Submit">Aceptar</button>
      </div>
      </div>
  </div>
</div>
  
{% endblock  %}

{% block custom_js %}
<script>
  $('.tabledat').DataTable({
			"order" : [[0,"desc"]],
      "language": {
        "search": "Buscar:",
        "emptyTable":     "No hay entradas para esta tabla",
        "info":           "Mostrando _START_ hasta _END_ de _TOTAL_ entradas",
        "infoEmpty":      "Mostrando 0 de 0 entradas",
        "lengthMenu":     "Mostrar _MENU_ entradas",
        "paginate": {
          "first":      "Primera",
          "last":       "Ultima",
          "next":       "Siguiente",
          "previous":   "Anterior"
        },
      }
		});
</script>
{% endblock  %}