<footer class="blue">
        <div class="wrap">
          <div class="foo-logo">
            <div>
              <a href="{{ site.baseurl }}/index.html"><img src="../../static/img/logo-footer.png"alt=""></a>
            </div>
          </div>
          <div class="foo-links">
            <div class="foo-links-oikos">
              <h3>Oikos</h3>
              <ul class="no-bullet">
                <li><a href="{{ site.baseurl }}/index.html">Principal</a></li>
                <li><a href="{{ site.baseurl }}/n-oikos.html">Oikos</a></li>
                <li><a href="{{ site.baseurl }}/n-jd.html">Junta Directiva</a></li>
                <li><a href="{{ site.baseurl }}/n-honorarios.html">Miembros Honorarios</a></li>
                <li><a href="{{ site.baseurl }}/contacto.html">Contacto</a></li>
                <li><a href="{{ site.baseurl }}/expediciones.html">Expediciones</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
              </ul>
            </div>
            <div class="foo-links-síguenos">
              <h3>síguenos</h3>
              <ul class="no-bullet">
                <li><a href="https://twitter.com/OikosUSB">Twitter</a></li>
                <li><a href="https://facebook.com/OikosUSB">Facebook</a></li>
                <li><a href="https://youtube.com/user/GEOIKOS">YouTube</a></li>
                <li><a href="https://instagram.com/OikosUSB">Instagram</a></li>
              </ul>
            </div>
            <div class="foo-links-cursos">
              <h3>cursos</h3>
              <ul class="no-bullet">
                <li><a href="{{ site.baseurl }}/c-baja.html">Baja y media montaña</a></li>
                <li><a href="{{ site.baseurl }}/c-roca.html">Escalada en roca</a></li>
                <li><a href="{{ site.baseurl }}/c-alta.html">Alta montaña</a></li>
              </ul>
            </div>
          </div>
          <div class="foo-enter">
            <label for="">Buscar</label>
            <div class="enter search">
              <form method="get" action="https://www.google.com/search">
                <input type="text" name="q" placeholder="Busco..." class="in corners">
                <div class="mask">
                  <input type="submit" value="Google Search" />
                </div>
                <input type="checkbox"  name="sitesearch" value="geoikos.com.ve" class="hide" checked />
              </form>
              <span class="icon-search"></span>
            </div>
          </div>
        </div>
        <div class="toe">
          Grupo Excursionista Oikos - Universidad Simón Bolívar, Casa del Estudiante, PB<br>
          <span>Diseño y desarrollo por <a href="https://lual.com.ve">Lual</a></span>
        </div>
      </footer>
      </body>
      </html>
      
      
      