<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        {% include "messages.html" %}
        <div class="row">
            <ul>
                <li><a href="{% url 'inventory:select-cat' %}">Búsqueda de Equipo</a></li>
                <li><a href="{% url 'Users:create_user' %}">Crear Usuario</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'Users:modify_user' user.pk %}">Modificar Usuario</a></li>
                <li><a href="{% url 'Users:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'Users:login' %}">Login</a></li>
                {% endif %}
            </ul>
            <h1>Home</h1>
            {% if user.is_authenticated %}
            <h2>Bienvenido {{ user.username }}</h2>
            {% endif %}
        </div>
    </div>

</body>
</html>