
<ul class="nav flex-column flex-nowrap">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Inventory:home_inventory' %}">Inicio</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Inventory:create_category' %}">Categoria</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Inventory:create_equipment' %}">Equipo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Inventory:select-cat' %}">Buscar Equipo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Inventory:create_request' %}">Solicitar Equipo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Users:logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Users:login' %}">Login</a>
    </li>
    {% endif %}
</ul>