{% load tags %}

<ul class="nav flex-column flex-nowrap">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Inventory:home_inventory' %}">Inicio</a>
    </li>
    {% if user.is_authenticated %}

      <!-- USUARIOS CON PERMISO DE CUARTO DE EQUIPO -->
      {% if user|is_cuarto_equipo %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Inventory:create_category' %}">Categoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Inventory:create_equipment' %}">Equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Inventory:select-cat' %}">Buscar Equipo</a>
      </li>
      {% endif %}

      <!-- USUARIOS CON PERMISO DE GESTOR DE USUARIOS -->
      {% if user|is_gestor_usuario %}
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'Inventory:manage_users' %}">Usuarios</a>
      </li>
      {% endif %}

      <!-- USUARIOS CON PERMISO DE MIEMBRO ACTIVO -->
      {% if user|is_activo %}
      <li class="nav-item">
        <a class="nav-link" href="#">Solicitar</a>
      </li>
      {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#">Inventario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Users:logout' %}">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Users:login' %}">Login</a>
    </li>
    {% endif %}
</ul>