{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="hero-vl hero-vl-1">
        <img src="../../static/img/bg-blog.jpg" alt="">
    </div>
    <div class="wrap content-wrap">
        <h1 class="title">Blog</h1>
        <div class="blog-content corners">

        {% if post %}
            <article>
                <h3 class="title">
                    <a style="color:white" href="{% url 'blog:get_blog_post' post.id %}">
                        {{post.title}}
                    </a>
                </h3>
                <div class="post-meta">
                    <div class="post-date">
                        Creado: {{post.created_on}} -
                        Modificado: {{post.updated_on}}
                        <span class="post-autor">
                            Autor: {{post.user.first_name}} {{post.user.last_name}} 
                        </span>
                    </div>
                </div>
                <div class="post-photo">
                    <img src="../../static/images/oikos2.jpg" alt="imagen" class="img-fluid">
                </div>
                <div class="post-content">
                    {{post.content|safe}}
                </div>
            </article>
        {% else %}
            {% for post in posts %}
                <article>
                    <h3 class="title">
                        <a style="color:white" href="{% url 'blog:get_blog_post' post.id %}">
                            {{post.title}}
                        </a>
                    </h3>
                    <div class="post-meta">
                        <div class="post-date">
                            Creado: {{post.created_on}} -
                            Modificado: {{post.updated_on}}
                            <span class="post-autor">
                                Autor: {{post.user.first_name}} {{post.user.last_name}} 
                            </span>
                        </div>
                    </div>
                    <div class="post-photo">
                        <img src="../../static/images/oikos2.jpg" alt="imagen" class="img-fluid">
                    </div>
                    <div class="post-content">
                        {{post.content|safe}}
                    </div>
                </article>
            {% endfor %}

            <nav aria-label="Page navigation example">
            {% comment %} {% if posts.has_other_pages %} {% endcomment %}
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            {% comment %} {% endif %} {% endcomment %}
            </nav>
        {% endif %}
            

        </div>
    </div>
</div>

{% endblock %}
