{% extends "navbar.html" %}

{% block content %}

<div class="container">
    <div class="hero-vl hero-vl-1">
        <img src="../../static/img/bg-blog.jpg" alt="">
    </div>
    <div class="wrap content-wrap">
        <h1 class="title">Blog</h1>
        <div class="blog-content corners">
                
            <!--Proyecto Muro-->
            <article>
                <h3 class="title">
                    <a style="color:white" href="{{ post.url }}">
                        Proyecto Muro
                    </a>
                </h3>
                <div class="post-meta">
                    <div class="post-date">
                        12 de Noviembre del 2017
                        <span class="post-autor">
                            Autor: Jorge Olivares
                        </span>
                    </div>
                </div>
                <div class="post-content">
                    
                    Muchas personas nos han preguntado acerca del proyecto que estamos realizando para restaurar el rocódromo antiguo de la USB, y sobre cómo está avanzando la construcción del mismo. Por ello, en este post responderemos varias preguntas para que puedas conocerlo: 

                    <img class="event-img" src="https://gdurl.com/e_kR" alt="muro-viejo">    
                    
                    <h3>¿Qué es La Gran Pared?</h3>
                        
                    Es un proyecto ideado por miembros del grupo que toma forma en el año 2015. Busca restaurar el muro de escalada ubicado en el gimnasio de la Universidad Simón Bolívar. Cuenta con una antigüedad de al menos 27 años y se encuentra en un estado de deterioro, razón por la cual escalarlo representa un riesgo para la seguridad de los usuarios, siendo poco usado y conocido por la comunidad universitaria. Por esto, nos hemos planteado desechar la estructura actual y realizar una remodelación completa. 
                        
                    <img class="event-img" src="https://gdurl.com/81Ec" alt="muro-viejo"> 
                        
                    Como agrupación, queremos educar a más personas en el deporte de la escalada, recientemente aceptado como un deporte olímpico pero, para ello, necesitamos espacios cercanos y accesibles ya que no existe variedad de rocódromos o gimnasios de escalada en la ciudad de Caracas, limitando notablemente la práctica del mismo.
                        
                    <!--more-->
                        
                    <h3>¿Cómo construyen el nuevo muro?</h3>

                    <img class="event-img" src="https://gdurl.com/rc-B" alt="muro-viejo">
                        
                    Gracias a las donaciones y contribuciones de personas externas e internas a Oikos y a la Universidad Simón Bolívar, estamos cada vez más cerca de culminarlo. 
                       
                    <img class="event-img" src="https://gdurl.com/qc4r" alt="muro-viejo">
                        
                    El diseño fue realizado por el Prof. Gustavo Rodríguez de la USB quien se ha encargado de la supervisión y ayudado con la instalación. Así mismo, nuestros miembros, de manera voluntaria, están realizando el montaje y armado dedicando horas de esfuerzo a este proyecto.
                        
                    <img class="event-img" src="https://gdurl.com/XeLm" alt="muro-viejo">
                        
                    <h3>¿Cómo puedo conocer más sobre el proyecto?</h3>
                        
                    Si estás interesado en conocer más, puedes contactarnos a través de nuestras redes sociales, o ir directamente a la sede del grupo, ubicada en la planta baja de la Casa del Estudiante de la Universidad Simón Bolívar, Sede Sartenejas
                        
                    Fotos por [Jorge Olivares](https://wwww.instagram.com/jorgeolivaresp/) y [Luis Carlos Marval](https://www.instagram.com/lcmarval/).
                        


                </div>
            </article>

            <!--Nueva Página Web-->
            <article>
                <h3 class="title">
                    <a style="color:white" href="{{ post.url }}">
                        Nueva página web
                    </a>
                </h3>
                <div class="post-meta">
                    <div class="post-date">
                        11 de Abril del 2017
                        <span class="post-autor">
                            Autor: GEOikos
                        </span>
                    </div>
                </div>
                <div class="post-content">
                    ¡El GEOikos esta estrenando nueva página web! <br/>

                    <img class="event-img" src="https://gdurl.com/YnuK" alt="nueva">
                        
                    El grupo busca nuevas maneras de llevar los deportes de aventura a la comunidad universitaria, es por eso que actualmente nos encontramos en una
                    restructuración de las plataformas web. A partir de ahora, podrás enterarte de nuestros próximos eventos y actividades a través de esta sección. 
                       
                    Síguenos también en nuestras redes sociales.
                </div>
            </article>



        </div>
    </div>
</div>

{% endblock %}
