{% extends "navbar.html" %}

{% block content %}

<div class="hero-vl hero-vl-1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Glacial_Pico_Humboldt.JPG/1280px-Glacial_Pico_Humboldt.JPG" alt="">
        <div class="hero hero-1" id="hero-c-alta">
			<div class="jumbotron corners">
				<h1>Curso Alta montaña</h1>
			</div>
		</div>
	</div>
	<div class="wrap course-content">
		<p>
			Practicar alta montaña involucra tecnicas de desplazamiento en glaciar y manejo de cuerdas, a esto se suma el efecto de la altura sobre el cuerpo. Es por esto que para realizar el Curso de Alta Montaña se tiene que haber aprobado el Curso de Baja y Media Montaña y el Curso Básico de Escalada en Roca.
		</p>
		<p>
			El objetivo principal de este curso es adquirir las técnicas y destrezas necesarias para la progresión con eficacia y seguridad por terreno de Alta Montaña.
		</p>
		<h2>Contenido</h2>
		<p>
			El contenido del curso abarca:
		</p>
		<p>
			<ul>
				<li>Equipo básico de alta montaña.</li>
				<li>Morfología de la montaña.</li>
				<li>Progresión en nieve y hielo.</li>
				<li>Efectos de la altura y el frío.</li>
				<li>Fisiología y alimentación en la alta montaña.</li>
				<li>Organización de expediciones.</li>
			</ul>
		</p>
		<p>
			Durante el curso se realizan practicas de técnicas de rescate y al finalizar el curso se realiza una salida final en la que se hacen practicas de autodetención, desplazamiento y anclaje en glaciar.
		</p>
		<h2>Próximo curso</h2>
		<p>
			Si deseas mantenerte al tanto de las próximas fechas para este curso y otras actividades del oikos te invitamos a:
		</p>
        <div class="enter">
            <div id="mc_embed_signup">
                <form action="https://geoikos.us17.list-manage.com/subscribe/post?u=7afce34753a338e70b1eaf9da&amp;id=0d16835249" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group enter">
                            <label for="mce-EMAIL">Suscribirte a nuestro boletín</label>
                            <input placeholder="usuario@correo.com" type="email" value="" name="EMAIL" class="required email in corners" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none">Gracias por suscribirte</div>
                        </div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true">
							<input type="text" name="b_7afce34753a338e70b1eaf9da_0d16835249" tabindex="-1" value="">
						</div>
                        <div class="clear mask">
							<input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>
                        <span class="icon-go"></span>
                    </div>
                </form>
                <script type='text/javascript' src='../../static/js/mc-validate-spanish.js'></script>
                <script type='text/javascript'>
	                (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'BIRTHDAY'; ftypes[3] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);
                </script>
            </div>
        </div>
		<p>
			o
        </p>
        <a href="mailto:geoikosweb@gmail.com"><input type="button" class="btn corners blue" value="Contáctanos directamente"></a>
	</div>


{% endblock %}
