{% extends "navbar.html" %}

{% block content %}

<div class="hero-vl hero-vl-1">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Glacial_Pico_Humboldt.JPG/1280px-Glacial_Pico_Humboldt.JPG"
		alt="">
	<div class="hero hero-1" id="hero-c-alta">
		<div class="jumbotron corners">
			<h1>Curso Alta montaña</h1>
		</div>
	</div>
</div>
<div class="wrap course-content">
	<p>
		Practicar alta montaña involucra tecnicas de desplazamiento en glaciar y manejo de cuerdas, a esto se suma el
		efecto de la altura sobre el cuerpo. Es por esto que para realizar el Curso de Alta Montaña se tiene que haber
		aprobado el Curso de Baja y Media Montaña y el Curso Básico de Escalada en Roca.
	</p>
	<p>
		El objetivo principal de este curso es adquirir las técnicas y destrezas necesarias para la progresión con
		eficacia y seguridad por terreno de Alta Montaña.
	</p>
	<h2>Contenido</h2>
	<p>
		El contenido del curso abarca:
	</p>
	<p>
		<ul>
			<li>Equipo básico de alta montaña.</li>
			<li>Morfología de la montaña.</li>
			<li>Progresión en nieve y hielo.</li>
			<li>Efectos de la altura y el frío.</li>
			<li>Fisiología y alimentación en la alta montaña.</li>
			<li>Organización de expediciones.</li>
		</ul>
	</p>
	<p>
		Durante el curso se realizan practicas de técnicas de rescate y al finalizar el curso se realiza una salida
		final en la que se hacen practicas de autodetención, desplazamiento y anclaje en glaciar.
	</p>
	<h2>Próximo curso</h2>
	<p>
		Si deseas mantenerte al tanto de las próximas fechas para este curso y otras actividades del oikos te invitamos
		a:
	</p>
	{% include "oikos/footer.html" %}
</div>


{% endblock %}