{% extends "navbar.html" %}

{% block content %}

<div class="hero-vl hero-vl-1">
		<img src="../../static/img/hero-c-baja.jpg" alt="">
		<div class="hero hero-1" id="hero-c-roca">
			<div class="jumbotron corners">
				<h1>Curso Escalada en roca</h1>
			</div>
		</div>
	</div>

	<div class="wrap course-content">
		<p>
			El curso básico de Escalada en Roca está orientado a adquirir los conocimientos y destrezas necesarias para escalar en roca de forma segura. Abarca las técnicas básicas de progresión en paredes verticales, manejo del equipo y manejo de cuerdas.
		</p>
		<p>
			El curso consiste en 4 clases teórico-prácticas dictadas en el Parque Recreacional Cuevas del Indio (Morro de la Guairita). Para un instructor se permiten un máximo de dos cursantes y el curso generalmente se dicta los fines de semana, pues las clases pueden durar hasta 5 horas.
		</p>
		<p>
			En cada clase se realizan dos rutas de escalada para un total de 8 rutas. Estas rutas incluyen dos multilargos, una chimenea y una en diedro.
		</p>

		<h2>Contenido</h2>
		<p>
			El contenido del curso abarca:
		</p>
		<p>
			<ul>
				<li>Descripción, uso y características del equipo personal y grupal requerido para realizar escalada en roca.</li>
				<li>Cuidado de la cuerda, mosquetones y demás equipo.</li>
				<li>Descripción y mecanismos del funcionamiento de los seguros utilizados en la escalada en roca.</li>
				<li>Funciones y usos de los nudos: ocho simple, ocho doble, ocho recorrido, dinámico, estático, nudo plano, prusik y mariposa.</li>
				<li>Técnica de progresión y aseguramiento en cordada.</li>
				<li>Técnica de descenso y montaje de rapel.</li>
				<li>Técnicas de escalada para la progresión en diedros y chimeneas.</li>
				<li>Aspectos generales de las reuniones (puntos de anclaje).</li>
			</ul>
		</p>
		<p>
			Para pasar el curso se realiza una evaluación final que consiste en un examen práctico sobre nudos y sus usos y la realización de dos rutas segundando y limpiando.
		</p>
		<p>
			Los instructores del curso son miembros de OIKOS. Debido a que hay un número limitado de instructores y mucha demanda de este curso, la prioridad para realizar el curso se le da a los miembros de la agrupación y a personas que muestren un alto interés en pertenecer al GEO y a la práctica del deporte. Sin embargo, cualquier persona puede hacer el curso. Deben acercarse a la sede de la agrupación y anotarse en la lista de personas interesadas.
		</p>
		<h2>Próximo curso</h2>
		<p>
			Si deseas mantenerte al tanto de las próximas fechas para este curso y otras actividades del oikos te invitamos a:
		</p>
        <div class="enter">
                <div id="mc_embed_signup">
                    <form action="https://geoikos.us17.list-manage.com/subscribe/post?u=7afce34753a338e70b1eaf9da&amp;id=0d16835249" method="post"
                        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group enter">
                                <label for="mce-EMAIL">Suscribirte a nuestro boletín</label>
                                <input placeholder="usuario@correo.com" type="email" value="" name="EMAIL" class="required email in corners" id="mce-EMAIL">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7afce34753a338e70b1eaf9da_0d16835249" tabindex="-1" value=""></div>
            
                            <div class="clear mask"><input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            <span class="icon-go"></span>
                        </div>
                    </form>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script type='text/javascript'>
                        (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'BIRTHDAY'; ftypes[3] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);
                    </script>
                </div>
            </div>
		<p>
		<p>
			o
		</p>
		<a href="mailto:geoikosweb@gmail.com"><input type="button" class="btn corners blue" value="Contáctanos directamente"></a>
	</div>

{% endblock %}
