{% extends "navbar.html" %}

{% block content %}
<div class="hero-vl hero-vl-1">
    <img src="../../static/img/hero-expediciones.jpg" alt="">
</div>
<div class="container">
		
		<div class="wrap content-wrap">
			<h1 class="title" id="title-expediciones">Expediciones</h1>
			<div class="content corners">
				<p>
					Las actividades de montaña y escalda cristalizan en una expedición que se inicia con el viaje a otro país y se desarrolla entre la interrelación con la gente, el aprendizaje de nuevos valores, de otras formas de ver el mundo, y el logro de las metas que los integrantes de la expedición se hayan planteado. Muchos de los miembros del GEO coinciden en afirmar que las expediciones se convierten en una escuela para la vida.
				</p>
				
				<table class="sortable">
					<tr class="blue" title="Pulsa para ordenar">
						<th>Año</th>
						<th>Lugar</th>
						<th>Logros</th>
						<th>Integrantes</th>
		
					</tr>
					
					<!--FOr de expediciones-->
				</table>
			</div>
		</div>
	</div>

{% endblock %}
