{% extends "navbar.html" %}

{% block content %}

<div class="hero-vl hero-vl-1" id="hero-vl-index">
	<img src="https://images.unsplash.com/photo-1441716844725-09cedc13a4e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=153bd048c3c8ec81ae340a9c3614c503"
	 alt="">
	<div class="hero hero-1" id="hero-index">
		<div class="jumbotron corners">
			<h1>
				<span>Desconéctate</span>
				<br>Explora
				<br>Descubre</h1>
		</div>
	</div>
</div>
<section class="about">
	<div class="wrap">
		<h2>El Oikos</h2>
		<p>
			El Grupo Excursionista OIKOS (GEO) es una agrupación estudiantil de la Universidad Simón Bolívar, cuyo objetivo principal
			es fomentar y practicar el deporte del excursionismo, montañismo y la escalada. Durante más de 43 años de trabajo ininterrumpido,
			el GEO ha sido hogar de más de 2000 personas, ascendido más de 100 montañas y realizado más de 70 expediciones nacionales
			e internacionales.
		</p>
		<a href="{{ site.baseurl }}/cursos.html">
			<input type="button" class="btn blue corners" value="Conoce más">
		</a>
	</div>
</section>
<section class="events">
	<div class="twitter">
		<a class="twitter-timeline" data-width="90%" data-height="750" href="https://twitter.com/OikosUSB?ref_src=twsrc%5Etfw">Tweets de OikosUSB</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div class="wrap-twitter">
    <h2>Eventos y Noticias</h2>
    Muchas personas nos han preguntado acerca del proyecto que estamos realizando para restaurar el rocódromo antiguo de la USB, y sobre cómo está avanzando la construcción del mismo. Por ello, en este post responderemos varias preguntas para que puedas conocerlo: 

![muro viejo](https://gdurl.com/e_kR){:class="event-img"}

__¿Qué es La Gran Pared?__

Es un proyecto ideado por miembros del grupo que toma forma en el año 2015. Busca restaurar el muro de escalada ubicado en el gimnasio de la Universidad Simón Bolívar. Cuenta con una antigüedad de al menos 27 años y se encuentra en un estado de deterioro, razón por la cual escalarlo representa un riesgo para la seguridad de los usuarios, siendo poco usado y conocido por la comunidad universitaria. Por esto, nos hemos planteado desechar la estructura actual y realizar una remodelación completa. 

![muro viejo](https://gdurl.com/81Ec){:class="event-img"}

Como agrupación, queremos educar a más personas en el deporte de la escalada, recientemente aceptado como un deporte olímpico pero, para ello, necesitamos espacios cercanos y accesibles ya que no existe variedad de rocódromos o gimnasios de escalada en la ciudad de Caracas, limitando notablemente la práctica del mismo.

<!--more-->

__¿Cómo construyen el nuevo muro?__

![soldando](https://gdurl.com/rc-B){:class="event-img"}

Gracias a las donaciones y contribuciones de personas externas e internas a Oikos y a la Universidad Simón Bolívar, estamos cada vez más cerca de culminarlo. 

![soldando](https://gdurl.com/qc4r){:class="event-img"}

El diseño fue realizado por el Prof. Gustavo Rodríguez de la USB quien se ha encargado de la supervisión y ayudado con la instalación. Así mismo, nuestros miembros, de manera voluntaria, están realizando el montaje y armado dedicando horas de esfuerzo a este proyecto.

![soldando](https://gdurl.com/XeLm){:class="event-img"}


__¿Cómo puedo conocer más sobre el proyecto?__

Si estás interesado en conocer más, puedes contactarnos a través de nuestras redes sociales, o ir directamente a la sede del grupo, ubicada en la planta baja de la Casa del Estudiante de la Universidad Simón Bolívar, Sede Sartenejas

Fotos por [Jorge Olivares](https://wwww.instagram.com/jorgeolivaresp/) y [Luis Carlos Marval](https://www.instagram.com/lcmarval/).


![escalando](https://gdurl.com/CQi3h){:class="big-img"}

¡Estás loco! ¿Cómo puedes hacer? ¿Necesitas mucha fuerza?  Son frases que los escaladores normalmente escuchamos de personas ajenas al deporte, quienes dan crédito solo a la fuerza que puedas tener en tus brazos, pero para la práctica de esta disciplina, se necesita más que fuerza.

Si bien, la escalada es un deporte que requiere esfuerzo físico, los factores más relevantes para su práctica son la técnica y lo más importante y difícil de entrenar, la mente. Cada vez que un escalador se enfrenta a una nueva ruta de escalada debe luchar contra sus miedos, tener confianza en sí mismo y estar motivado.

El miedo es un factor que si no se controla puede ser una limitación, la confianza te permite dar lo mejor de ti, pensar en positivo, estar seguro respecto a tus técnicas de entrenamiento y la motivación es lo que te hace disfrutar la escalada, seguir con lo que te apasiona y luchar contra las frustraciones.

Cada ascensión a la ruta es un nuevo reto que le exige a tu mente combatir para  lograr el objetivo, agilizándola, mejorando tu memoria y haciendo que cada vez sea más fácil y entretenida la escalada. Si quieres divertirte mientras entrenas tu mente y tu cuerpo, la escalada es la mejor opción. 



    <!-- Aqui deberia estar los posts que se encuentran en el index.html -->
	</div>
</section>

{% endblock %}


