<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- CSS de GEOikos -->
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/n-oikos.css">
    <link rel="stylesheet" href="../../static/css/contacto.css">
    <link rel="stylesheet" href="../../static/css/expediciones.css">
    <link rel="stylesheet" href="../../static/css/cursos.css">
    <link rel="icon" href="../../static/img/favicon.png"></link>
      
    <!-- Scripts de Oikos -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
    <script src="../../static/js/sorttable.js"></script>
    
    <title>Geoikos</title>

  </head>
  <header>
      <div class="header-bar">
        <div class="header-logo">
          <a href="#">
            <img src="../../static/img/logo.png" alt="">
          </a>
        </div>
        <div class="menu-trigger blue">
          <span class="icon-menu"></span>
        </div>
      </div>
        <nav class="blue">
        <ul class="no-bullet">
          <li><a href="#">Principal</a></li>
          <li>
            <span>Nosotros</span>
            <ul class="no-bullet">
              <li><a href="{{ site.baseurl }}/n-oikos.html">Oikos</a></li>
              <li><a href="{{ site.baseurl }}/n-miembros.html">Miembros</a></li>
              <li><a href="{{ site.baseurl }}/n-jd.html">Junta Directiva</a></li>
              <li><a href="{{ site.baseurl }}/n-honorarios.html">Miembros Honorarios</a></li>
            </ul>
          </li>
          <li>
            <a href="{{ site.baseurl }}/cursos.html">Cursos</a>
            <ul class="no-bullet">
              <li><a href="{{ site.baseurl }}/c-baja.html">Baja y media montaña</a></li>
              <li><a href="{{ site.baseurl }}/c-roca.html">Escalada en roca</a></li>
              <li><a href="{{ site.baseurl }}/c-alta">Alta montaña</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/contacto.html">Contacto</a></li>
          <li><a href="{{ site.baseurl }}/expediciones.html">Expediciones</a></li>
          <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>

          <li><a href="{% url 'Users:create_user' %}">Crear Usuario</a></li>

          {% if user.is_authenticated %}
          <li><a href="{% url 'Users:modify_user' user.pk %}">Modificar Usuario</a></li>
          <li><a class="nav-link" href="{% url 'Users:logout' %}">Logout</a></li>
          <li><a class="nav-link" href="{% url 'Users:delete_user' user.pk %}">Borrar Usuario</a></li>
          <li><a class="nav-link" href="{% url 'Inventory:home_inventory' %}">Inventario</a></li>

          {% else %}
          <li><a class="nav-link" href="{% url 'Users:login' %}">Iniciar Sesión</a></li>
          {% endif %}

        </ul>
      </nav>
    </header>

<div class="hero-vl hero-vl-1" id="hero-vl-index">
	<img src="https://images.unsplash.com/photo-1441716844725-09cedc13a4e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=153bd048c3c8ec81ae340a9c3614c503"
	 alt="">
	<div class="hero hero-1" id="hero-index">
		<div class="jumbotron corners">
			<h1>
				<span>Desconéctate</span>
				<br>Explora
				<br>Descubre</h1>
		</div>
	</div>
</div>
<section class="about">
	<div class="wrap">
		<h2>El Oikos</h2>
		<p>
			El Grupo Excursionista OIKOS (GEO) es una agrupación estudiantil de la Universidad Simón Bolívar, cuyo objetivo principal
			es fomentar y practicar el deporte del excursionismo, montañismo y la escalada. Durante más de 43 años de trabajo ininterrumpido,
			el GEO ha sido hogar de más de 2000 personas, ascendido más de 100 montañas y realizado más de 70 expediciones nacionales
			e internacionales.
		</p>
		<a href="{{ site.baseurl }}/cursos.html">
			<input type="button" class="btn blue corners" value="Conoce más">
		</a>
	</div>
</section>
<section class="events">
	<div class="twitter">
		<a class="twitter-timeline" data-width="90%" data-height="750" href="https://twitter.com/OikosUSB?ref_src=twsrc%5Etfw">Tweets de OikosUSB</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div class="wrap-twitter">
    <h2>Eventos y Noticias</h2>
    <!-- Auxilio David :( -->
    <!-- Aqui deberia estar los posts que se encuentran en el index.html -->
	</div>
</section>

  </body>
</html>

