{% extends "navbar.html" %}

{% block content %}

<div class="wrap">
		<div class="first-el content">
			<h1>Miembros Honorarios</h1>
			<p>
				Son miembros honorarios, aquellas personas que han reunido suficientes méritos dentro del campo del excursionismo y montañismo o han hecho colaboraciones importantes a la agrupación y que el GEO distinga como tales, por decisión de la Asamblea.
			</p>
		</div>
		<div class="cards">
		{% for honorario in site.data.honorarios %}
			<div class="card corners">
				<div class="card-img">
					<img src="{{ site.url }}/{{ honorario.picture }}" alt="">
				</div>
				<div class="card-info">
					<h3>{{ honorario.name }}</h3>
					<p>
						{{ honorario.carrera }}
					</p>
					<div class="sm sm1">
						{% if honorario.instagram %}
							<a href="{{ honorario.instagram }}"><span class="icon-instagram"></span></a>
						{% endif %}
						{% if honorario.twitter %}
							<a href="{{ honorario.twitter }}"><span class="icon-twitter"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

{% endblock %}