{% extends "navbar.html" %}

{% block content %}

<div class="wrap">
		<div class="first-el content">
			<h1>Junta Directiva</h1>
			<p>
				La Junta Directiva, luego de la Asamblea, es el órgano deliberante de la agrupación. Está conformada por 5 miembros escogidos anualmente por los miembros activos de la agrupación en el último trimestre académico de cada año (Abril-Julio).
			</p>
			<p>
				La Junta directiva para el período 2019-2020 se encuentra conformada por:
			</p>
		</div>
		<div class="cards">

			<!--Presidente-->
			<div class="card corners">
				<div class="card-img">
					<img src="../../static/img/junta/profile-presidente.jpg" alt="">
				</div>
				<div class="card-info">
					<h3>Daniel Machado</h3>
					<p>
						Presidente
					</p>
					<div class="sm sm1">
					</div>
				</div>
			</div>
			
			<!--Secretaria-->
			<div class="card corners">
				<div class="card-img">
					<img src="../../static/img/junta/profile-secretario.png" alt="">
				</div>
				<div class="card-info">
					<h3>Ana Lerones</h3>
					<p>
						Secretaria
					</p>
					<div class="sm sm1">
					</div>
				</div>
			</div>

			<!--Tesorero-->
			<div class="card corners">
				<div class="card-img">
					<img src="../../static/img/junta/profile-tesorero.jpg" alt="">
				</div>
				<div class="card-info">
					<h3>Marcos Lerones</h3>
					<p>
						Tesorero
					</p>
					<div class="sm sm1">
						<a href="https://www.instagram.com/marcosjlr/"><span class="icon-instagram"></span></a>
					</div>
				</div>
			</div>
		  
			<!--Director Técnico-->
			<div class="card corners">
				<div class="card-img">
					<img src="../../static/img/junta/profile-dt.jpg" alt="">
				</div>
				<div class="card-info">
					<h3>Andrés Chacón</h3>
					<p>
						Director Técnico
					</p>
					<div class="sm sm1">
						
					</div>
				</div>
			</div>

			<!--Cuarto de Equipo-->
			<div class="card corners">
				<div class="card-img">
					<img src="../../static/img/junta/profile-equipo.jpg" alt="">
				</div>
				<div class="card-info">
					<h3>Katheryn Palacios</h3>
					<p>
						Cuarto de Equipo
					</p>
					<div class="sm sm1">
						<a href="https://www.instagram.com/kathyppgc/"><span class="icon-instagram"></span></a>
						<a href="https://twitter.com/katheppgc"><span class="icon-twitter"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}