{% extends "navbar.html" %}

{% block content %}
<div class="wrap">
    <div class="first-el content">
        <h1>Nuestros miembros</h1>    
    </div>

    <div class="cards">

        <!--Francisco Marcos-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-francisco.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Francisco Marcos</h3>
                <p>
                    Cohorte '11 USB
                </p>
                <div class="sm sm1">
                    <a href="https://www.instagram.com/wrancisco/"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/wrancisco"><span class="icon-twitter"></span></a>
                </div>
            </div>
        </div>

        <!--Carlos Sivira-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-carlos.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Carlos Sivira</h3>
                <p>
                    Cohorte '15 USB
                </p>
                <div class="sm sm1">
                </div>
            </div>
        </div>

        <!--Michael Sanchez-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-michael.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Michael Sanchez</h3>
                <p>
                    Cohorte '09 USB
                </p>
                <div class="sm sm1">
                </div>
            </div>
        </div>

        <!--Orlando Perez-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-orlando.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Orlando Perez</h3>
                <p>
                    Cohorte '12 USB
                </p>
                <div class="sm sm1">
                </div>
            </div>
        </div>

        <!--Daniela Torres-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-daniela.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Daniela Torres</h3>
                <p>
                    UNIMET
                </p>
                <div class="sm sm1">
                </div>
            </div>
        </div>

        <!--Nicolas Jaua-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-nico.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Nicolas Jaua</h3>
                <p>
                    Cohorte '15 USB
                </p>
                <div class="sm sm1">
                </div>
            </div>
        </div>

        <!--Paola Proietti-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-pao.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Paola Proietti</h3>
                <p>
                    UCAB
                </p>
                <div class="sm sm1">
                </div>
            </div>
        </div>

        <!--Luis Carlos Marval-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-luiski.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Luis Carlos Marval</h3>
                <p>
                    Cohorte '12 USB
                </p>
                <div class="sm sm1">
                    <a href="https://www.instagram.com/lcmarval/"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/luiscamarval"><span class="icon-twitter"></span></a>
                </div>
            </div>
        </div>

        <!--Valentina González-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-nina.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Valentina González</h3>
                <p>
                    Cohorte '13 USB
                </p>
                <div class="sm sm1">
                    <a href="https://www.instagram.com/niina_hood/"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/niina_hood"><span class="icon-twitter"></span></a>
                </div>
            </div>
        </div>

        <!--Esteban Camargo-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-esteban.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Esteban Camargo</h3>
                <p>
                    Cohorte '11 USB
                </p>
                <div class="sm sm1">
                    <a href="https://www.instagram.com/estebmaister/"><span class="icon-instagram"></span></a>
                    <a href="https://twitter.com/Estebmaister"><span class="icon-twitter"></span></a>
                </div>
            </div>
        </div>

        <!--Jeraldine Aparicio-->
        <div class="card corners">
            <div class="card-img">
                <img src="../../static/img/miembros/profile-jeral.jpg" alt="">
            </div>
            <div class="card-info">
                <h3>Jeraldine Aparicio</h3>
                <p>
                        Cohorte '14 USB
                </p>
                <div class="sm sm1">
                    <a href="https://www.instagram.com/jeraldine12/"><span class="icon-instagram"></span></a>
                </div>
            </div>
        </div>
    </div>        
</div>

{% endblock %}
