{% extends "navbar.html" %}

{% block content %}


    <div class="hero-vl hero-vl-1">
        <img src="../../static/img/hero-n-oikos.jpg" alt="">
    </div>
    <div class="container">
    <div class="wrap content-wrap">
        <h1 class="title">Oikos</h1>
        <div class="content corners">
            <p>
                El Grupo Excursionista OIKOS (GEO) es una agrupación estudiantil de la Universidad Simón Bolívar, cuyo objetivo principal es fomentar y practicar el deporte del excursionismo, montañismo y la escalada. Se fundó en el año 1974, siendo una de las agrupaciones más antiguas de la Universidad. Durante más de 43 años de trabajo ininterrumpido, el GEO ha sido hogar de más de 2000 personas, ascendido más de 100 montañas y realizado más de 70 expediciones nacionales e internacionales. Actualmente el GEO es una de las agrupaciones de excursionismo más activas del país y con mayor presencia fuera de las fronteras venezolanas. Los miembros de OIKOS están constantemente entrenando y preparándose en las montañas y lugares de escalada en Venezuela.
            </p>
            <p>
                La agrupación mantiene una labor constante de adiestramiento de las nuevas generaciones, ofreciendo cursos periódicamente y organizando y participando en actividades que promueven el deporte. Las actividades que desempeñan los miembros del GEO contribuyen de manera significativa con su formación integral, cultivando valores como la fuerza de voluntad, la disciplina, el trabajo en equipo, la humildad, la tolerancia, el amor por la naturaleza y la pasión por la vida.
            </p>
            <p>
                Estos valores vienen de la mano con lo que es ser un verdadero montañista.Para mantener su destacada presencia internacional, OIKOS no cesa de estimular a sus miembros para que organicen expediciones cada año, siempre y cuando estos cumplan con el nivel de preparación tanto técnica como física exigidos en cada proyecto. Esta tarea comienza con la formación física, técnica y mental de cada individuo y se le suma la obtención de información logística, equipo y, algunas veces lo más difícil, la obtención de recursos económicos. Para todo esto se requiere de una gran creatividad y liderazgo. 
            </p>
            <p>
                Estas actividades cristalizan en una expedición que se inicia con el viaje a otro país y se desarrolla entre la interrelación con la gente, el aprendizaje de nuevos valores, de otras formas de ver el mundo, y el logro de las metas que los integrantes de la expedición se hayan planteado. Muchos de los miembros del GEO coinciden en afirmar que las expediciones se convierten en una escuela para la vida.
            </p>
        </div>
    </div>
</div>

  
  
  {% endblock %}