{% extends "base.html" %}

{% block title %} Create User {% endblock %}

{% block page-title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <div class="row" >
        <div class="offset-md-4 col-md-4 card">
            <br>
            <form action="" method="POST" class="form-group" >
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Ingresar</button>
            </form>
        </div>
    </div>
</div>
{% endblock  %}